<div class="Search">
    <div class="search-top">
        <div class="search-left">
            <h3 class="top">Search</h3>
        </div>
        <div class="advancerd-search">
            <h3 class="top-click">Advancerd search<i class="fa fa-plus-square-o" aria-hidden="true"></i></h3>
            <div class="feature">
                <h2>Features</h2>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="item-feature">
                    <input type="checkbox">
                    <label for="">Free Paking</label>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="search-btoom">
        <div class="left">
            <label for="">Property Type</label>
            <select class="selectpicker">
                <optgroup label="Picnic">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </optgroup>
                <optgroup label="Camping">
                    <option>Tent</option>
                    <option>Flashlight</option>
                    <option>Toilet Paper</option>
                </optgroup>
            </select>
            <div class="location">
                <label for="">Location</label>
                <input type="text" placeholder="Enter location">
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            </div>


        </div>
        <div class="right"></div>
    </div>
    <div class="result">
        <h3 class="title-result">Result</h3>
        <div class="content mCustomScrollbar">
            <div class="nav-result">
                <div class="item">
                    <div class="images">
                        <a href="">
                            <img src="~/images/6.jpg" />
                        </a>
                    </div>
                    <div class="nav-item" id="list-result">
                        <h3 class="title"><a href="">32955 valley stress</a></h3>
                        <p class="adress">San Francisco</p>
                        <p class="price">$42.000</p>
                        <div class="info">
                            <div class="type">
                                <i><img src="images/apartment-3.png" alt=""></i>
                                <span>APARTMENT</span>
                            </div>
                        </div>
                        <div class="rating" data-rating="5">
                            <span class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

