
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("_Search")

@Html.Partial("_Map")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/map.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyD_Sl2hCWxjhSngJmbu0zEF1rIudS5TtIs&callback=initMap"></script>
<script>

    //$(document).ready(function () {
    //    function initialize() {
    //        var loc = {};
    //        var geocoder = new google.maps.Geocoder();
    //        if (google.loader.ClientLocation) {
    //            loc.lat = google.loader.ClientLocation.latitude;
    //            loc.lng = google.loader.ClientLocation.longitude;

    //            var latlng = new google.maps.LatLng(loc.lat, loc.lng);
    //            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
    //                if (status == google.maps.GeocoderStatus.OK) {
    //                    alert(results[0]['formatted_address']);
    //                };
    //            });
    //        }
    //    }
    //    google.load("maps", "3.x", { other_params: "sensor=false", callback: initialize });
    //});
    //var locations = [];
    ////Get json from web api
    //$(document).ready(function () {
    //    $.getJSON("http://localhost:54335/api/place", function (result) {
    //        $.each(result, function (index, value) {
    //            var obj = new Object();
    //            obj.lat = value.lat;
    //            obj.lng = value.lng;
    //            obj.name = value.name;
    //            obj.category = value.category;
    //            locations.push(obj);
    //        });
    //        initMap(locations);
    //    });

    //    $('#btnSearch').on('click', function (e) {
    //        var begin = $('#begin-price').val();
    //        var end = $('#end-price').val();
    //        var data = [];
    //        var obj = new Object();
    //        obj.PriceBegin = begin;
    //        obj.PriceEnd = end;
    //        obj.Type = 0;
    //        data.push(obj);
    //        var json = JSON.stringify(data);
    //        $.ajax({
    //            type: "POST",
    //            url: "http://localhost:54335/api/place",
    //            processData: false,
    //            contentType: 'application/json',
    //            data: json,
    //            success: function (res) {
    //                console.log(res);
    //                $.each(JSON.parse(res), function (index, value) {
    //                    console.log(value.lat);
    //                    var obj = new Object();
    //                    obj.lat = value.lat;
    //                    obj.lng = value.lng;
    //                    obj.name = value.name;
    //                    obj.category = value.category;
    //                    locations.push(obj);

    //                    addMarkerToMap(value);
    //                });
    //                initMap(locations);
    //            }
    //        });
    //        //locations = [];
    //        //$.getJSON("http://localhost:54335/api/place?name=" + input, function (result) {
    //        //    console.log('length: ' + result.length);
    //        //    $.each(result, function (index, value) {
    //        //        var obj = new Object();
    //        //        obj.lat = value.lat;
    //        //        obj.lng = value.lng;
    //        //        obj.name = value.name;
    //        //        obj.category = value.category;
    //        //        locations.push(obj);
    //        //    });
    //        //    initMap(locations);
    //        //});

    //    })
    //});
    //function addMarkerToMap(location, map) {
    //    var marker = new google.maps.Marker({
    //        position: location,
    //        label: "A",
    //        map: map
    //    });
    //};
    //function initMap(locations) {
    //    var map = new google.maps.Map(document.getElementById('map'), {
    //        zoom: 15,
    //        center: { lat: 21.01768, lng: 105.781283 }
    //    });
    //    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    //    addLocations(map, locations);
    //}

    //function addLocations(map, locations) {
    //    //var locations1 = [];
    //    //$.each(locations, function (i, v) {
    //    //    var obj = new Object();
    //    //    obj.lat = v.lat;
    //    //    obj.lng = v.lng;
    //    //    locations1.push(obj);
    //    //});


    //    //config markers
    //    var markers = locations.map(function (location, i) {
    //        console.log('location: ' + location.lat);
    //        return new google.maps.Marker({
    //            position: location,
    //            label: 'A' + i,
    //            title: location.name,
    //            store_id: i + 1, // assign storeID
    //            name: location.name,
    //            category: location.category,
    //        });
    //    });
    //    addInfowindow(markers, map);

    //    var markerCluster = new MarkerClusterer(map, markers,
    //        { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
    //};

    //function addInfowindow(markers, map) {
    //    for (var i = markers.length - 1; i >= 0; i--) {
    //        var contentString = '<div id="iw-container">' +
    //                '<div class="iw-title">Porcelain Factory of Vista Alegre</div>' +
    //                '<div class="iw-content">' +
    //                  '<div class="iw-subTitle">History</div>' +
    //                  '<img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83">' +
    //                  '<p>Founded in 1824, the Porcelain Factory of Vista Alegre was the first industrial unit dedicated to porcelain production in Portugal. For the foundation and success of this risky industrial development was crucial the spirit of persistence of its founder, José Ferreira Pinto Basto. Leading figure in Portuguese society of the nineteenth century farm owner, daring dealer, wisely incorporated the liberal ideas of the century, having become "the first example of free enterprise" in Portugal.</p>' +
    //                  '<div class="iw-subTitle">Contacts</div>' +
    //                  '<p>VISTA ALEGRE ATLANTIS, SA<br>3830-292 Ílhavo - Portugal<br>' +
    //                  '<br>Phone. +351 234 320 600<br>e-mail: geral@vaa.pt<br>www: www.myvistaalegre.com</p>' +
    //                '</div>' +
    //                '<div class="iw-bottom-gradient"></div>' +
    //              '</div>';
    //        var infowindow = new google.maps.InfoWindow({
    //            content: contentString
    //        });
    //        google.maps.event.addListener(markers[i], 'click', function () {
    //            infowindow.open(map, this);
    //        });
    //    }
    //    map.addListener('center_changed', function () {
    //        var list = [];
    //        $('#list-result').empty();
    //        for (var i = markers.length, bounds = map.getBounds() ; i--;) {
    //            if (bounds.contains(markers[i].getPosition())) {
    //                console.log(markers[i].getLabel());
    //                console.log(markers[i].get('store_id')); // call markerID

    //                list.push(markers[i]);
    //            }
    //        }
    //        addToList(list);
    //    });

    //    map.addListener('bounds_changed', function () {
    //        var list = [];
    //        $('#list-result').empty();
    //        for (var i = markers.length, bounds = map.getBounds() ; i--;) {
    //            if (bounds.contains(markers[i].getPosition())) {
    //                console.log(markers[i].getLabel());
    //                console.log(markers[i].get('store_id')); // call markerID

    //                list.push(markers[i]);
    //            }
    //        }
    //        addToList(list);
    //    });
    //    // insert places to list
    //    function addToList(list) {
    //        console.log(list.length);
    //        $.each(list, function (index, value) {
    //            var context = '<div class="item">' +
    //                '<div class="images">' +
    //                    '<a href="">' +
    //                        '<img src="/images/6.jpg" />' +
    //                    '</a>' +
    //                '</div>' +
    //                '<div class="nav-item" >' +
    //                    '<h3 class="title"><a href="">' + value.get('name') + '</a></h3>' +
    //                    '<p class="adress">' + value.get('name') + '</p>' +
    //                    '<p class="price">$42.000</p>' +
    //                    '<div class="info">' +
    //                        '<div class="type">' +
    //                            '<i><img src="images/apartment-3.png" alt=""></i>' +
    //                            '<span>' + value.get('category') + '</span>' +
    //                        '</div>' +
    //                    '</div>' +
    //                    '<div class="rating" data-rating="5">' +
    //                        '<span class="stars">' +
    //                            '<i class="fa fa-star"></i>' +
    //                            '<i class="fa fa-star"></i>' +
    //                            '<i class="fa fa-star"></i>' +
    //                            '<i class="fa fa-star"></i>' +
    //                            '<i class="fa fa-star"></i>' +
    //                        '</span>' +
    //                    '</div>' +
    //                '</div>' +
    //            '</div>';
    //            $('#list-result').append(context);
    //        });
    //    }
    //}


</script>

<script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
